.mapbox div.widget .slice_container {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    overflow: hidden;
}

.mapbox div.widget .slice_container:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.mapbox .slice_container div {
    padding-top: 0px;
}

.legend-color {
    height: 12px;
    width: 12px;
    margin-right: 1ex;
}

ul.legend-panel {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: space-between;
    font-size: 0.8em;
    font-variant-caps: small-caps;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0.5em 0.5em;
}

li.map-legend {
    list-style: none;
    display: inline-flex;
    align-items: center;
    margin: 0 1em;
}

div.control-panel {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1em 1em;
}

.display-legends {
    display: flex;
    align-items: center;
    cursor: pointer;
}

div.control-panel .display-legends input[type="checkbox"] {
    margin: 0;
}

div.control-panel .display-legends label {
    margin: 0;
}