.mapbox div.widget .slice_container {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    overflow: hidden;
}

.mapbox div.widget .slice_container:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.mapbox .slice_container div {
    padding-top: 0px;
}

.legend-color {
    height: 12px;
    width: 12px;
    margin-right: 1ex;
}

ul.legend-panel {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: space-between;
    font-size: 0.8em;
    font-variant-caps: small-caps;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0.5em 0.5em;
}

li.map-legend {
    list-style: none;
    display: inline-flex;
    align-items: center;
    margin: 0 1em;
}

div.control-panel {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1em 1em;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1ex;
    padding: 1em;
}

div.display-legends {
    font-variant-caps: all-small-caps;
}

div.time-slider, div.display-time {
    text-transform: capitalize;
    font-variant-caps: small-caps;
}

div.control-panel>div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
}

div.control-panel>div input,
div.control-panel>div label
{
    margin: 0.5ex;
}


.mapboxgl-missing-css {
    display: none;
}